<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>%(DocumentTitle)</title>
    <link rel="stylesheet" type="text/css" href="%(RootUrl)/Content/swagger-ui.css">
    <link rel="icon" type="image/png" href="%(RootUrl)/Content/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="%(RootUrl)/Content/favicon-16x16.png" sizes="16x16" />
    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            margin: 0;
            background: #fafafa;
        }
    </style>
</head>

<body>
    <div id="swagger-ui"></div>

    <script src="%(RootUrl)/Scripts/swagger-ui-bundle.js" charset="UTF-8"></script>
    <script src="%(RootUrl)/Scripts/swagger-ui-standalone-preset.js" charset="UTF-8"></script>
    <script>
        window.onload = function () {
            var discoveryPaths = "%(DiscoveryPaths)".split('|');
            var validatorUrl = "%(ValidatorUrl)";
            var configObject = {
                urls: discoveryPaths.map(m => ({
                    url: "%(RootUrl)/" + m,
                    name: m || 'API Docs'
                })),
                dom_id: '#swagger-ui',
                deepLinking: true,
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                ],
                docExpansion: "%(DocExpansion)",
                plugins: [
                    SwaggerUIBundle.plugins.DownloadUrl
                ],
                // validatorUrl: "%(ValidatorUrl)" || "https://online.swagger.io/validator",
                supportedSubmitMethods: '%(SupportedSubmitMethods)'.split('|'),
                layout: "StandaloneLayout"
            };
            if (validatorUrl) config.validatorUrl = validatorUrl;
            // Begin Swagger UI call region
            const ui = SwaggerUIBundle(configObject);
            // End Swagger UI call region

            window.ui = ui
        }
    </script>
</body>

</html>