@{
    ViewBag.Title = "Download";
}

<h2>Download GDT WAD app</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Android</th>
                        <th>iOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>1.0</td>
                        <td>05/12/2020</td>
                        <td>
                            @*<a variant="link" href="https://api.fis.vn:9999/mobilebuild/uploads/smartcitybd_cc/0.0.32/smartcitybd_cc_v0.0.32.apk">Install</a>*@
                        </td>
                        <td>
                            <a variant="link" href="itms-services://?action=download-manifest&amp;url=https://apilantha.gdtsolutions.vn/mobilebuild/ios/1.0/manifest.plist">Install</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

